p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.main {
    margin-left: 5vw;
}
.Sidebar {
    background-color: rebeccapurple;
    height: 100%;
    width: 5vw;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding-top: 20px;
}
    .Sidebar a {
        text-decoration: none;
        color: mediumpurple;
        font-size: 3vw;
        margin-left: 1vw;
        text-shadow: 2px 2px mediumslateblue;
    }
#background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#pfp {
    border-radius: 15vw;
    width: 15vw;
    height: 15vw;
    border-style: solid;
    border-color: rgb(55, 47, 106);
    border-width: 5px;
    float: left;
}
#pfpPositioning {
    padding-left: 20vw;
    padding-top: 5vw;
    left: 0;
    width: 20vw;
    float: left;
}
.about {
    border-radius: 3vw;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(55, 47, 106);
    width: 45vw;
    min-height: 15vw;
    margin-right: 5vw;
    margin-top: 5vw;
    float: right;
    background: rgb(69 58 119 / 75%);
}
    .about p {
        font-size: 27px;
        color: mediumpurple;
        margin: 1vw;
        text-shadow: 
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
    }
    .about h1 {
        color: rgb(42, 30, 148);
        font-weight: 800;
        font-size: 40px;
        margin-left: 1vw;
    }
.links {
    border-radius: 3vw;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(55, 47, 106);
    bottom: 1px;
    position: relative;
    margin-top: 15vh;
    margin-left: 5vw;
    min-height: 40vh;
    min-width: 85vw;
    float: left;
    background: rgb(69 58 119 / 75%);
}
    .links i {
        font-size: 10vw;
        width: 18%;
        word-spacing: 50px;
        text-decoration: none;
        color: mediumpurple;
    }
    #linksCorrection {
        margin-left: 5vw;
        margin-top: 12vh;
    }
.library {
    border-radius: 3vw;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(55, 47, 106);
    background: rgb(69 58 119 / 75%);
    height: 95vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.project {
    border-radius: 3vw;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(55, 47, 106);
    background: rgb(132 130 230 / 33%);
    float: left;
    width: 25vw;
    height: 30vh;
    margin: 2vw;
    margin-left: 3vw;
    text-align: center;
}
.presentation {
    border-radius: 3vw;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(55, 47, 106);
    background: rgb(69 58 119 / 75%);
    font-size: 27px;
    color: mediumpurple;
}
    .presentation p {
        margin: 1vw;
        margin-left: 1vw;
        text-shadow: 
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
    }
.heading {
    font-size:32px;
    color: rgb(42, 30, 148);
    font-weight: 800;
}
#keet {
    width: 25vw;
    float: right;
    margin-right: 5vw;
    margin-left: 2vw;

}
#guitar {
    float: left;
    margin-right: 1vw;
    width: 20vw;
}
#dog {
    float: right;
    height: 50vh;
    margin-right: 5vw;
}
#ambition {

}
